DOCKER_APP_PORT=8081
DOCKER_REDIS_PORT=6379
DOCKER_MAILHOG_WEB_PORT=8025
DOCKER_MAILHOG_SMTP_PORT=1025
DOCKER_DB_DATABASE=testing
DOCKER_DB_USERNAME=docker
DOCKER_DB_PASSWORD=password
DOCKER_DB_PORT=6603
