includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database/factories
        - database/seeders
        - routes
        - tests

    level: 5

    # Treat test files properly
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # Ignore all method not found errors in test files
        -
            message: '#Call to an undefined method#'
            paths:
                - tests/Feature/*

        # Ignore property access in tests
        -
            message: '#Access to an undefined property#'
            paths:
                - tests/*

    excludePaths:
        - tests/Pest.php
        - tests/TestCase.php  # Sometimes helps to exclude base TestCase
        - ./vendor/*
        - ./node_modules/*
        - ./storage/*
        - ./bootstrap/cache/*
